@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(43, 43, 82);
}
.calculator{
    position: relative;
     display: grid;
    /*border: 1px solid;
    box-shadow: 5px 10px #888888; */
}
.calculator .value{
    grid-column: span 4;
    height:100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size:18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    background-color: white;
    place-items: center;
    border:1px solid rgb(90, 67, 133);
    border-radius:3px;
}

.calculator span:hover{
    background-color: black;
    color: cornsilk;
    cursor: pointer;
}
.calculator span:active{
    background-color: teal;
}
.calculator span.clear{
    grid-column: span 2; 
    /* take size of 2 colss */
    width: 120px;
    background-color: violet;
}
.calculator span.plus{
    grid-row: span 2; 
    /* take size of 2 colss */
    height: 120px;
}
.calculator span.equal{
    background-color: rgb(112, 217, 243);
}
.calculator span.options:hover{
    color: #f7f4eb;

}

.calculator span.options{
    color: rgb(84, 186, 226);
}
