body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    box-sizing: border-box;
}

#calculator{
    background-color: rgb(221, 207, 186);
    height:85vh;
    width:49%;
    display: block;
    margin: 30px auto;
}
.result{
height:25%;
}
.keyboard{
height:80%;
width: 100%;
}
#history{
    text-align: right;
    font-size: 15px;
    padding-top: 20px;
    margin:0 25px;
    color:rgb(132, 132, 253);
}
#output{
    text-align: right;
    height:20px;
    margin:5px 25px;
    font-size: 30px;

}
  #container{
width: 50%;
display: block;
margin: 50px auto;
  }

  .operator,.number,.empty{
      width: 50px;
      height: 50px;
      outline: 0;
      margin: 15px;
      float: left;
      border-radius: 50%;
      border-width: 0;
      font-weight: bold;
      font-size: 15px;
  }
  .number,.empty{
background-color: rgb(221, 207, 186);
  }
  .number,.operator{
      cursor: pointer;
  }
  .number:active,.operator:active{
      font-size: 13px;

  }
  button:nth-child(4)
  {
      font-size: 25px;
      background-color:rgb(92, 193, 252);
  }
  button:nth-child(8)
  {
      font-size: 25px;
      background-color:rgb(253, 206, 76);
  }
  button:nth-child(12)
  {
      font-size: 25px;
      background-color:rgb(252, 144, 210);
  }
  button:nth-child(16)
  {
      font-size: 25px;
      background-color:rgb(247, 137, 64);
  }
  button:nth-child(20)
  {
      font-size: 25px;
      background-color:rgb(115, 134, 175);
  }