body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    box-sizing: border-box;
}

#calculator{
    background-color: rgb(221, 207, 186);
    height:90vh;
    width:49%;
    display: block;
    margin:10px auto;
}
#result{
height:30%;
}
#keyboard{
height:70%;
width: 100%;
}
#history{
    text-align: right;
    font-size: 15px;
    padding-top: 20px;
    margin:0 25px;
    color:rgb(132, 132, 253);
}
#output{
    text-align: right;
    height:40px;
    margin:15px 25px;
    font-size: 30px;

}
  #container{
width: 50%;
display: block;
margin: 50px auto;
  }

  .operator,.number,.empty{
      width: 50px;
      height: 50px;
      outline: 0;
      margin: 15px;
      float: left;
      border-radius: 50%;
      border-width: 0;
      font-weight: bold;
      font-size: 15px;
  }
  .number,.empty{
background-color: rgb(221, 207, 186);
  }
  .number,.operator{
      cursor: pointer;
  }
  .number:active,.operator:active{
      font-size: 13px;

  }
  button:nth-child(4)
  {
      font-size: 25px;
      background-color:rgb(92, 193, 252);
  }
  button:nth-child(8)
  {
      font-size: 25px;
      background-color:rgb(253, 206, 76);
  }
  button:nth-child(12)
  {
      font-size: 25px;
      background-color:rgb(252, 144, 210);
  }
  button:nth-child(16)
  {
      font-size: 25px;
      background-color:rgb(247, 137, 64);
  }
  button:nth-child(20)
  {
      font-size: 25px;
      background-color:rgb(115, 134, 175);
  }
 #output-text{
      width: 60%px;
      height:120px;
      float: left;
      margin-top:10px;
 }
 #microphone-output{
     width:40%;
 }
 #microphone{
height:50px;
width: 50px;
cursor: pointer;
float: right;
background-image:url("images.png");
background-size: 100% 100%;
border-radius:50%;
margin:20px;
position: relative;
top:50px;
margin-top:45px;
}

.record{
    animation:microphone-animation 1.5s infinite;
    
}

.tooltip{
    width:200px;
    font-size:13px;;
    height: 80px;
    position: absolute;
    padding: 10px;
    top:130px;
    transform: translate(50px);
    color:black;
    margin-left:220px;
    background-color:rgb(182, 181, 181);
    border-radius: 5px;
    visibility: hidden;
}
.tooltip::before{
    left: 0;
	margin-left: -25px;
    content: '';
    top:25px;
    position: absolute;
    border-width:15px;
    border-style: solid;
    border-color: transparent rgb(182, 181, 181)
    transparent transparent;
}
#output-microphone:hover .tooltip{
    visibility: visible;
}
 @keyframes microphone-animation{
     0%{
         transform:scale(0.9);
     }
     70%{
         transform: scale(1);
     }
     100%{
         transform: scale(0.5);
         box-shadow: 0 0 0 10px rgba(0,148,255,0.4);
     }
 }